*.doc
*.docx
.~*

# binaries and temp files
*.class
*.swp
bin/
build/
out/
solution/

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore Netbeans project files
nbproject
nbbuild/
nbdist/
nb-configuration.xml

# IntelliJ project files
.idea/
*.iml
*.iws
*.ipr

#Config file
Config.cs
Config.cs.meta

# MacOS junk
.DS_Store
